* {
    padding: 0;
    margin: 0;
}

.wrapper1 {
    width: 100%;
    height: 800px;
    background: linear-gradient(90deg, greenyellow 0% 33%, rgb(122, 239, 111) 36% 66%, whitesmoke 69% 100%);
}


th , td {
    border: 2px solid yellowgreen;
    padding: 10px 10px;
}

th {
    background-color: green;
    color: #ffffff;
}

table { 
    border-collapse: collapse; 
    margin: auto;
    margin-top: -550px;
}

tr:nth-child(even) {
    background-color: gainsboro;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}

.wrapper2 {
    width: 100%;
    height: 600px;
    background-color: rgb(16, 16, 56);
}